/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin-top: 50px;
    margin: auto;
    width: 30%;
    padding: 10px;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('./assets/weather-icon.png');
    background-size: cover;
}

mat-card-content {}